version: "3.9"
#this code will name the container, load the env file eith encryption keys and list the working port range to access the app.
#the database instacne is also loaded in the container so users can log in with the user accounts made for testing
services:
  web:
    build: .
    container_name: secure_bball_web
    env_file:
      - .env
    ports:
      - "5000:5000"
    volumes:
      - ./instance:/app/instance
    restart: unless-stopped